/** @format */

@import "../../style.css";

.background {
  background-color: var(--color-background);
}

.unlock {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 100px;
  background: url("../../../assets/desktop/Unlock/bg.png") no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.unlock h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--color-text);
  font-family: var(--font-cormorant);
}

.unlock button {
  background-color: var(--color-bg);
  font-size: 18px;
  font-family: var(--font-inter);
  padding: 16px 24px;
  border-radius: 8px;
  font-weight: 600;
  color: var(--color-primary);
  text-transform: uppercase;
  border: 0;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .desktopimg {
    display: none;
  }

  .mobile {
    display: block;
  }

  .unlock {
    flex-direction: column-reverse;
    padding: 30px;
    text-align: center;
    gap: 16px;
    background: url("../../../assets/mobile/Unlock/bg.png") no-repeat;
    background-position-x: right;
    background-position-y: top;
  }

  .unlock h2 {
    font-size: 20px;
  }

  .unlock button {
    font-size: 16px;
    padding: 10px 20px;
  }
}
